- cache [I18n.locale, current_pricing_options, @product] do
  %div{"data-hook" => "product_show", :itemscope => "", :itemtype => "http://schema.org/Product"}
    - @body_id = 'product-details'
    %br
    %section.single_product_details_area.d-flex.align-items-center
      .single_product_thumb.clearfix.stick_to_top{"data-hook" => "product_left_part"}
        %div{"data-hook" => "product_left_part_wrap"}
          #product-images{"data-hook" => "product_images"}
            .row
              -if @product.possible_promotions.any?
                .col-md-8
                  %center
                    #main-image{"data-hook" => ""}
                      .product_thumbnail_slides.owl-carousel
                        = render partial: 'image', locals: {product: @product}
                .col-md-4
                  %div{"data-hook" => "promotions"}
                    = render partial: 'promotions'
              -else
                .col-md-12
                  %center
                    #main-image{"data-hook" => ""}
                      .product_thumbnail_slides.owl-carousel
                        = render partial: 'image', locals: {product: @product}
      .single_product_desc.clearfix{"data-hook" => "product_right_part"}
        %span= get_brand_name(@taxonomies, @product)
        %h3.product-title{:itemprop => "name"}= @product.name
        #product-description.clearfix{"data-hook" => "product_description"}
        
          %div{"data-hook" => "description", :itemprop => "description"}
            %p.product-desc
              = product_description(@product) rescue t('spree.productt_has_no_description')
        %hr
        #cart-form.clearfix{"data-hook" => "cart_form"}
          = render partial: 'cart_form'
        = render partial: 'taxons'
        %hr
        %div{"data-hook" => "product_center_part_wrap"}
          %div{"data-hook" => "product_properties"}
            = render partial: 'properties'
