- @body_id = 'signup'
- @body_class = 'devise_views'
= render 'spree/shared/error_messages', target: resource
.row
  .col-md-4
  .col-md-4.col-md-offset-4
    #new-customer.card
      .card-header
        = Spree.t(:new_customer)
      .card-body{"data-hook" => "signup"}
        = form_for resource, as: :spree_user, url: spree.registration_path(resource) do |f|
          %div{"data-hook" => "signup_inside_form"}
            = render partial: 'spree/shared/user_form', locals: { f: f }
            .actions
              = f.submit Spree.t(:create), class: 'btn btn-success btn-block'
        %br
        = Spree.t(:or)
         #{link_to Spree.t(:login_as_existing), spree.login_path}
    %div{"data-hook" => "login_extras"}
  .col-md-4
